// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Montserrat',
'Nunito',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$borders: #ececec;
$logo: #2aace1;

// grandezze
$margin-right: 150px;

// mixins [martina]
@mixin full-witdh-and-padding {
    width: 100%;
    padding: 20px;
}

@mixin width-side {
    width: 20%;
    min-width: 220px;
}

@mixin width-main {
    width: 80%;
    min-width: 500px;
}

@mixin button {
      padding: 10px;
      margin-bottom: 10px;
      text-align: center;
      cursor: pointer;
      box-shadow: 0px 0px 2px #00000057;
      text-decoration: none;
      color: inherit;
      transition: all 0.3s linear;

      &:hover{
        background: $cyan;
      }
}

@mixin show-personal-boxes {
    background-position: 20px;
    background-repeat: no-repeat;
    // background-size: cover;
    filter: grayscale(0.9);
    transition: all 0.5s linear;

    &:hover {
        filter: grayscale(0.1);
    }
}

// transition: all 0.3s linear;
//
// &:hover{
//   background: $cyan;
// }


//mixin fullwidth
@mixin main-fullwidth-ui{
  min-width:100%;
  min-height:calc(100vh - 70px - 60px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin background-jpg{
  background-image: url("../assets/images/gre3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin fullwidth{
  min-width: 100%;
  min-height: calc(100vh - 70px - 60px);
}

@mixin button-full{
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ececec;
  background-color: #ffff;
  color: #212529;
  transition: all 0.3s linear;
  &:hover{
    background-color: #3490dc;
    color: #ffff;
  }

}

@mixin borders-and-shadows{
  border: 1px solid #ececec;
  background-color: #fff;
  box-shadow: 0px 0px 3px 1px #0000002b;
}
