.fullwidthads{

  @include fullwidth;
  padding-bottom: 2%;

  main{

    margin: 5% 20%;
    width:65%;
    padding: 4%;

    @include borders-and-shadows;


    .payment{
      h5{
        border-bottom: 1px groove #C0C0C0;
        margin-bottom: 4%;
      }
      form{
        section{
          label{

            width:60%;

           .input-label{
            margin-right: 5%;
            }
            #amount{
              border-radius: 5px;
              width: 90px;
              padding: 1%;
            }
          }
        }
      }
    }

    .braintree-option__paypal{
      display: none;
    }
    .braintree-option__card{
      display: none;
    }
    [data-braintree-id="toggle"] {
      display: none;
    }
    [data-braintree-id="choose-a-way-to-pay"]{
      display: none;
    }
    .braintree-show-card {
      display: block;
    }
    .braintree-card{
      display: block;
    }

    .button{

      margin: 6% 0 3% 38%;
      @include button-full;

    }

  }
}


@media all and (max-width: 1200px){
  .fullwidthads {
    main{
      .button{
          margin-left: 33%;
      }

    }
  }
}

@media all and (max-width: 900px){
  .fullwidthads {
    main{
      .button{
          margin-left: 31%;
      }

    }
  }
}

@media all and (max-width: 768px){
  .fullwidthads {
    main{
      .button{
          margin-left: 28%;
      }

    }
  }
}

@media all and (max-width: 600px){
  .fullwidthads {
    padding-bottom: 0;
    main{
      width:100%;
      margin:0;
      .button{
          margin-left: 30%;
      }

    }
  }
}

@media all and (max-width: 480px){
  .fullwidthads{
    main{
      .button{
          margin-left: 20%;
      }

    }
  }
}
