.fullwidthads{

  @include fullwidth;
  padding-bottom: 2%;

  main{

    margin: 5% 20%;
    width:65%;
    padding: 4%;

    @include borders-and-shadows;


    .payment{
      h5{
        border-bottom: 1px groove #C0C0C0;
        margin-bottom: 4%;
      }
      form{
        section{
          label{

            width:60%;
            padding-bottom: 5%;

           .input-label{
            margin-right: 5%;
            }
            #amount{
              border-radius: 5px;
              width: 90px;
              padding: 1%;
            }
          }
          .bt-drop-in-wrapper{
            padding: 4% 35%;
            width: 20%;
            margin-top: 6%;
          }
        }
      }
    }


    .button{

      margin: 6% 0 3% 0;
      margin-left: calc(70% / 2);
      @include button;

    }

  }
}

@media all and (max-width: 768px){
  .fullwidthads {
    main{
      .button{
          margin-left: calc(60% / 2);
      }

    }
  }
}

@media all and (max-width: 600px){
  .fullwidthads {
    main{
      .button{
          margin-left: calc(50% / 2);
      }

    }
  }
}

@media all and (max-width: 480px){
  .fullwidthads {
    main{
      .button{
          margin-left: calc(28% / 2);
      }

    }
  }
}
