.fullwidthcreate{

  main{

    @include fullwidth;

    #houseCreation{
      margin: 5% 20%;
      width:60%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @include borders-and-shadows;

      .h5{
        width: 70%;
        margin-left: 16%;
        text-align: center;
        padding-top: 2%;
        h5{
          padding: 4% 0 2%;
          border-bottom: 1px groove #C0C0C0;
        }
      }

      .padding{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2% 16%;

        label{
          margin: 4% 0 -1% 0;
        }

        input, textarea{
          border: 1px solid #CCC;
        }

        .label{
          padding-top: 4%;
        }

        .title,
        .description{
          padding: 2%;
          width: 480px;
        }

        .title{
          height: 40px;
        }

        .description{
          height: 100px;
        }

        .numbers{
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          padding-top: 4%;

          width: 100%;

          input{
            height: 40px;
          }
        }

        .divsmq{
          padding-top: 4%;
        }

        .sqm{
          height: 40px;
        }
        .address{
          width: 100%;
        }

        input.hide-clear[type="search"]::-webkit-search-cancel-button{
        display: none;
        }

        .services{
          width: 100%;
          margin-top:5%;

          label{
            padding-bottom: 1.5%;
            input{
              padding-left:3%;
            }
          }
          i{
            font-size: 30px;
            margin: 3% 4% 0 1%;
            color: #6cb2eb;
          }
        }
      }

      .button{
        margin: 4% 0 6% 0;
        margin-left: calc(75% / 2);
        padding: 2% 3%;
        @include button;
      }
    }
  }
}

@media all and (max-width: 1200px){
  .fullwidthcreate{
    main{
      #houseCreation{
        .padding{
          .title,
          .description{
            padding: 2%;
            width: 360px;
          }
          .services{
            flex-wrap: wrap;
            width: calc(100% / 2);
            label{
              margin-bottom: 2%;
            }
            input[type="checkbox"],
            i{
              margin-bottom: 3%;
              font-size: 25px;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 900px){
  .fullwidthcreate{
    main{
      #houseCreation{
        .padding{
          .title,
          .description{
            padding: 2%;
            width: 260px;
          }
          .numbers{
            flex-wrap: wrap;
            padding-top: 4%;
            width: calc(100% / 4);
            div{
              margin-bottom: 10%;
              input{
                width: 100px;
              }
            }
          }
          .address{
            width: 80%;
          }
          .img{
            input[type='file']{
              width: 80%;
            }
          }
          .services{
            width: calc(100% / 2);
            i{
              font-size: 20px;
            }
          }
        }
        .button{
          margin-left: calc(68% / 2);
        }
      }
    }
  }
}

@media all and (max-width: 768px){
  .fullwidthcreate{
    main{
      #houseCreation{
        width: 100%;
        margin: 0;
        .padding{
          .title,
          .description{
            width: 300px;
          }
          .services{
            width: 100%;
            i{
              font-size: 15px;
            }
          }
        }

      }
    }
  }
}

@media all and (max-width: 600px){
  .fullwidthcreate{
    main{
      #houseCreation{
        width:100%;
        margin: 0;
        .padding{
          padding: 2% 18%;
          .title,
          .description{
            padding: 2%;
            width: 160px;
          }
          .numbers{
            width: 50%;
          }
          .address{
            width: 60%;
          }
          .services{
            width:100%;
            i{
              font-size: 15px;

            }
          }
        }
        .button{
          margin-left: 33%;
        }
      }

    }
  }
}
