
footer{
  background-color: #fff;
  border-top: 1px solid #ececec;
  height: 60px;
  padding: 1.2% 0;
  .left{
    width:60%;
    font-size: 10px;
    .lingua{
      margin-left:8%;
    }
  }
  .right{
    padding-right: 6%;
  }
}



// MEDIA QUERY -----------------------------------------------------------------


@media all and (min-width: 901px) {
  footer{
    padding: 1.8% 0;
  }
}

@media all and (min-width: 769px) and (max-width: 900px) {
  footer{
    padding: 2.1% 0;
    .lingua,
    .euro{
      display: none;
    }
  }
}

@media all and (min-width: 469px) and (max-width: 768px) {
  footer{
    padding: 2.3% 0;
  }
}

@media all and (max-width: 468px){
  footer{
    padding: 2.6% 0;
  }
}
