
.fullwidth{
  main{
    @include main-fullwidth-ui;
    @include background-jpg;

    .login{
      margin: 2% 0 0 25%;
      background-color: #fff;
      width: 50%;
      padding: 2% 7%;
      border-radius: 5px;
      opacity: 0.9;
      #email,
      #password{
         width: 430px;
         height: 30px;
         border-radius: 5px;
         border: 1px solid #C0C0C0;
         padding-left: 2%;
         box-shadow: 0px 0px 3px 1px #0000002b;
      }

      .title{
        border-bottom: 1px groove #C0C0C0;
        text-align: left;
      }

      label{
        padding-top: 3%;
      }

      .form-check{
        margin-left: 0.5%;
        input[type='checkbox']{
            margin-top: 3.7%;
        }
      }

      .form-group{
        margin-top: 5%;
      }

      strong{
        margin-left: 8%;
      }

      button{
        @include button-full;
        padding: 1% 4%;
      }
    }
  }
}







// MEDIA QUERY -----------------------------------------------------------------


@media all and (min-width: 901px){
  
  .fullwidth{
    main{
      .login{
        margin: 2% 0 0 20%;
        width: 60%;
        #email,
        #password {
           width: 400px;
        }
      }
    }
  }
}

@media all and (min-width: 701px) and (max-width: 900px) {

  .fullwidth{
    main{
      .login{
        #email,
        #password {
           width: 300px;
        }
      }
    }
  }
}

@media all and (min-width: 481px) and (max-width: 700px) {

  .fullwidth{
    main{
      .login{
        margin: 2% 0 0 16%;
        width: 75%;
        #email,
        #password {
           width: 300px;
        }
      }
    }
  }
}

@media all and (max-width: 480px){

  .fullwidth{
    main{
      .login{
        margin: 0;
        width: 100%;
        #email,
        #password {
           width: 200px;
        }
      }
    }
  }
}
