
.fullwidth{

  main{

    @include main-fullwidth-ui;
    @include background-jpg;

    .register{
      margin-left: 30%;
      background-color: #fff;
      width: 45%;
      padding: 1% 7%;
      border-radius: 5px;
      opacity: 0.9;
    h5{
      border-bottom: 1px groove #C0C0C0;
      text-align: center;
      padding-bottom: 4%;
    }
    label{
      margin: 1.5% 0 -1% 8%;
    }
    input {
       width: 400px;
       margin: 0 0 2% 8%;
    }

    button{
      padding:1% 2%;
      border-radius: 5px;
      margin: 3% 0 2% 43.5%;
      border:1px groove #C0C0C0;
      font-size: 12px;
    }

    strong,
    input.parsley-error,
    select.parsley-error,
    textarea.parsley-error,
    .parsley-errors-list{
      margin-left: 8%;
    }

    }

  }

}
