.sidebar-index-filters{
  label{
    display: block;
    margin: 0px 2px 2px 0px;
  }

  input[type="number"]{
    width: 100%;
    padding: 10px;
    border: 1px solid $borders;
    margin-bottom: 10px;

    -moz-appearance: textfield;
  }
  // nascondi spinner
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  }

  input[type="checkbox"]{
    outline: 1px solid #c4c4c4;
    margin-right: 5px;
  }

  #showRange{
    width: 50%;

    &:focus{
      outline: none;
    }
  }


  .bottoni{
    width: 100%;
    justify-content: space-between;

    button{
      width: calc(50% - 5px);
      margin-top: 20px;

      padding: 10px;
      cursor: pointer;
      box-shadow: 0px 0px 2px #00000057;
      text-decoration: none;
      color: inherit;
      transition: all 0.3s linear;
      background: none;
      border: none;

      &:hover{
        background: $cyan;
      }
    }
  }

}



.page-index-title{
  text-align: center;
  margin-bottom: 30px;
}

.sponsorizzate{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  background: #6cb2eb1c;
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 80px;
  transition: all 0.6s linear;
  scrollbar-width: thin;
  scrollbar-color: $borders;

  &::-webkit-scrollbar {
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    background: lightgrey;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $borders;
    border-radius: 20px;
    border: 3px solid lightgrey;
  }

  .house-preview{
    flex: 0 0 auto;
    margin-right: 20px;
    margin-bottom: 0;
  }
}

.title{
  flex-direction: column;
  justify-content: space-between;

  .name-and-owner{
    align-items: baseline;
    h6{
      font-weight: bold;
      padding: 0px 4px;
    }
  }

}

.services-container{
  justify-content: flex-start;
}

.index-houses-preview-services{
  font-size: 12px;
  padding-left: 6px;
}
