
.fullwidthstats{

  main{
    @include fullwidth;

  .canvas{
    display: flex;

    #messages{
      margin-left: 12%;
      margin-right: 2%;
    }
    #messages,
      #views{

        @include borders-and-shadows;

        margin-top: 5%;
        padding: 2%;

        h5{
          border-bottom: 1px solid #C0C0C0;
          margin-bottom: 3%;
        }
        .chart{
          width:450px;
        }

        form{
        width: 100%;
        margin: 4% 0 0 3%;
          input{
            padding: 0.8% 1%;
            border: 1px solid #ececec;
          }
          .button{
            border-radius: 5px;
            padding: 1% 4%;
            border: 1px solid #ececec;
            background-color: #ffff;
            color: #212529;
            transition: all 0.3s linear;
            &:hover{
              background-color: #3490dc;
              color: #ffff;
            }
          }
        }
      }
    }
  }
}






@media all and (max-width: 1200px){
  .fullwidthstats{
    main{
      .canvas{
        flex-direction: column;

        #messages,
        #views{
          margin: 5% 0 5% 18%;
          width: 60%;
        }
        .chart{
          width:500px;
          canvas{
            margin-left: 10%;
          }

        }
      }
    }
  }
}

@media all and (max-width: 900px){
  .fullwidthstats{
    main{
      .canvas{

        #messages,
        #views{
          margin-left: 2%;
          width: 80%;
        }
        .chart{
          canvas{
            margin-left: 10%;
          }
        }
      }
    }
  }

}

@media all and (max-width: 768px){
  .fullwidthstats{
    main{
      .canvas{

        #messages,
        #views{
          margin-left: 2%;
          width: 84%;
        }
        .chart{
          width: 400px;
          canvas{
            margin-left: 6%;
          }
        }
      }
    }
  }
}

@media all and (max-width: 600px){
  .fullwidthstats{
    main{
      .canvas{
        #messages,
        #views{
          margin:0;
          width: 100%;
        }
        .chart{
          width: 300px;
          canvas{
            margin-left: 2%;
          }
        }
      }
    }
  }
}

@media all and (max-width: 468px){
  .fullwidthstats{
    main{
      .canvas{
        .chart{
          width: 200px;
          canvas{
            width:200px;
            margin-left: 0;
          }
        }
      }
    }
  }
}
